* {
	margin:0; 
	padding:0;
	font-family: Arial,helvetica,sans-serif;
}

.header {
	position: fixed;
	display :block;
	width: 100%;
	height: 155px;
	z-index:15000;
	background-color: rgba(0,150,0,0.7);
}
.header.small {
	height: 100px;
}

.header__logo {
	float:left;
	padding-left:3.5%;
	padding-top:0.8%;

}

.header__logo img {
	height: 130px; 
	width: auto;

}

.header__logo img.small {
	height: 80px; 
}

.header__info {
	float:left;
	padding-left:1%;
	padding-top:1.7%;
	font-size:10pt;

}

.header__nav ul {
	padding-top:5%;
	float:right;
	width:50%;
}

.header__nav li {
	float:right;
	color:white;
	display: inline-block;
	list-style-type: none;
	margin-left:5%;
	margin-right:5%;
}

.header__nav ul.small {
	padding-top:2.8%;
	}

.content  {
	position:absolute;
	padding-top:160px;
	display:block;
}

.content.small {
	padding-top:105px;
}


.is-hidden {
	display: none;
}
