* {margin:0; padding:0;}

body {
	font-family: Gill Sans Light; 
}

.header {
	width: 100%;
	height:100px;
	background-color: yellow;
}

.header__nav {
	width: 70%;
	margin: 0 auto;
	height : 100%;
}

.header__nav li {
	width: 20%;
	margin:0 1%;
	text-align: center;
	padding-top: 20px;
	display: inline-block;
	list-style-type: none;
}